#topDiv {
    background-color: teal;
    padding-top: 25px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 15px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}